@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap");

:root {
  --color-primary: #e1144b;
  --color-dark: #2b2b2b;
  --color-text: #393939;
  --color-white: #ffffff;
  --color-white-2: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 104rem;
  margin: 0 auto;
  padding: 0 2rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* HEADER / HERO*/

.header {
  background-image: url(/Images/header.webp);
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}
.nav {
  width: 100%;
  height: 10rem;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin: 0.5rem 1.2rem;
}
.nav-link {
  font-size: 1.4rem;
  color: var(--color-white);
}
.active {
  color: var(--color-primary);
  font-weight: 500;
  border-bottom: 2px solid var(--color-primary);
}
.nav-btn {
  background-color: var(--color-primary);
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
}
.header-content {
  width: 100%;
  height: 100vh;
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content-wrapper {
  text-align: center;
}
.header-title {
  font-size: 4.8rem;
  color: var(--color-white);
  -webkit-text-stroke: 0.5px var(--color-dark);
}
.header-form {
  background-color: var(--color-white);
  padding: 2rem;
  margin-top: 4rem;
  color: var(--color-text);
}
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 0rem 1rem;
  width: calc(100% / 5);
}
.form-label {
  font-size: 1.3rem;
  font-weight: 600;
}
.form-controller {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--color-white-2);
  border: none;
  outline: none;
}
.form-btn {
  padding: 1rem 1.3rem;
  background-color: var(--color-primary);
  color: var(--color-white-2);
  border-radius: 0.3rem;
  text-transform: uppercase;
}
.form-btn:hover {
  background-color: var(--color-white-2);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

@media screen and (max-width: 900px) {
  .nav-container {
    width: 100%;
    justify-content: center;
  }
  .nav-list {
    display: none;
  }
  .header-title {
    font-size: 3rem;
    margin-top: 12rem;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    width: 100%;
  }
}

/* PROCESS */
.process {
  background-color: var(--color-white);
  margin-top: -4rem;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #7f7f7f49;
  margin-bottom: 5rem;
}
.process-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 3rem;
}
.process-icon > svg {
  width: 5rem;
  height: 5rem;
  color: var(--color-primary);
}
.process.text {
  font-size: 1.4rem;
  color: var(--color-text);
}

/* TRENDING */

.trending-title {
  font-size: 4rem;
  font-weight: 800;
}
.trending-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem;
}

.trending-card {
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: var(--color-white-2);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #7f7f7f49;
}
.trending-card:hover {
  .trending-img {
    transform: scale(1.02);
  }
}
.trending-img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 1.5rem;
}
.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-type {
  font-size: 1.4rem;
  color: var(--color-text);
}
.trending-icon > svg {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
}
.trending-icon-1 > svg {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
}
.trending-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.trending-price {
  margin-top: 1rem;
}
.trending-price > p {
  font-size: 1.2rem;
  color: var(--color-text);
}
.price-ratings-star {
  display: flex;
}
.price-ratings-star > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-primary);
}
.trending-price-value {
  color: var(--color-text);
  line-height: 2rem;
}
.card-duration {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.5rem;
}
.card-duration > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-primary);
  margin-right: 1rem;
}

/* BEST SELLERS */
.sellers {
  margin-top: 10rem;
}
.best-sellers-main-title {
  font-weight: 800;
  font-size: 4rem;
}
.sellers-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 4rem;
}
.seller-item {
  position: relative;
  margin-top: 1.5rem;
}
.seller-item-img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.discount {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.seller-item-text {
  width: 100%;
  padding: 2rem;
  position: absolute;
  left: 0;
  top: 15rem;
  color: var(--color-white-2);
  display: flex;
  justify-content: space-between;
}
.seller-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem 1.3rem;
  justify-self: center;
  border-radius: 1rem;
}

/* TOURS */

.tour {
  margin-top: 30rem;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 11, 44, 0.6), rgba(0, 11, 44, 0.6)),
    url(/Images/lake.webp);
  background-size: cover;
}
.tour-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour-wrapper {
  text-align: center;
  color: var(--color-white);
  margin-bottom: -20rem;
}
.tour-title {
  margin-bottom: 3rem;
  font-size: 3.2rem;
}
.tour-wrapper > video {
  max-width: 70rem;
  border: 1px solid var(--color-white);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem #7f7f7f49;
}

@media screen and (max-width: 768px) {
  .tour {
    margin-top: 30rem;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(
        rgba(0, 11, 44, 0.6),
        rgba(0, 11, 44, 0.6)
      ),
      url(/Images/lake.webp);
    background-size: cover;
  }

  .tour-wrapper {
    text-align: center;
    color: var(--color-white);
    margin-bottom: -10rem;
  }
  .tour-title {
    margin-bottom: 3rem;
    font-size: 3.2rem;
  }
  .tour-wrapper > video {
    max-width: 30rem;
    border: 1px solid var(--color-white);
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem #7f7f7f49;
  }
}
